<footer class="site-footer">
    <div class="wrapper">
        <div class="intro">
            <a href="index.html" class="branding">
                <div class="logo"><img src="https://s3.eu-central-1.amazonaws.com/uberall-userpics-prod/1825968/wZQKzFiOMd.png" alt=""></div>
                <div class="nxt">
                    <p class="title">GSM Ultra сервиз</p>
                    <p class="subtitle">Поправка на телефони</p>
                </div>
            </a>
            <p class="desc">GSM Ultra сервиз е новооткрит сервиз в центъра на град Хасково. Разполага с богат асортимент от аксесоари за вашето устройство. Екипът е съставен от професионалисти в тази област с дългогодишен опит.</p>
            <a href="https://www.facebook.com/profile.php?id=100000447532802" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/ulkabulka99/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.instagram.com/ulkabulka99/" target="_blank"><i class="fab fa-google-plus"></i></a>
        </div>
        <div class="posts">
            <p class="title">Скорошни постове</p>
            <div class="post postone">
                {% if page.title == "Home" %}
                <a class="text" href="blog/index.html">Lorem ipsum dolor sit amet consectetur adipisicing ntium ab perferendis itaque voluptatibus inventore..</a>
                {% else %}
                <a class="text" href="../blog/index.html">Lorem ipsum dolor sit amet consectetur adipisicing ntium ab perferendis itaque voluptatibus inventore..</a>
                {% endif %}
                <p class="date">27 Септември</p>
            </div>
            <div class="post">
                {% if page.title == "Home" %}
                <a class="text" href="blog/index.html">Lorem ipsum dolor sit amet consectetur adipisicing ntium ab perferendis itaque voluptatibus inventore..</a>
                {% else %}
                <a class="text" href="../blog/index.html">Lorem ipsum dolor sit amet consectetur adipisicing ntium ab perferendis itaque voluptatibus inventore..</a>
                {% endif %}
                <p class="date">29 Септември</p>
            </div>
        </div>
        <div class="links">
            <p class="title">Свържи се</p>
            <div class="link">
                <p class="social">Поща:</p>
                <p class="social-link">gsm.ultra@gmail.com</p>
            </div>
            <div class="link">
                <p class="social">Адрес:</p>
                <p class="social-link">ул. „Цар Освободител“ 7, 6300 ж.к. Училищни, Хасково</p>
            </div>
            <div class="link">
                <p class="social">Телефон:</p>
                <p class="social-link">+359 88 889 6522</p>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright © 2021 GSM ULTRA Сервиз. Всички права запазени.</p>
            <nav>
                <ul>
                    {% if page.title == "Home" %}
                    <li><a href="index.html">Начало</a></li>
                    <li><a href="about/index.html">Относно</a></li>
                    <li><a href="services/index.html">Услуги</a></li>
                    <li><a href="gallery/index.html">Галерия</a></li>
                    <li><a href="blog/index.html">Блог</a></li>
                    <li><a href="contacts/index.html">Контакти</a></li>
                    <li><a href="questions/index.html">Въпроси</a></li>
                    {% else %}
                    <li><a href="../index.html">Начало</a></li>
                    <li><a href="../about/index.html">Относно</a></li>
                    <li><a href="../services/index.html">Услуги</a></li>
                    <li><a href="../gallery/index.html">Галерия</a></li>
                    <li><a href="../blog/index.html">Блог</a></li>
                    <li><a href="../contacts/index.html">Контакти</a></li>
                    <li><a href="../questions/index.html">Въпроси</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</footer>