<input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
<header class="site-header">
    <div class="wrapper">
        <a class="site-branding" href="index.html">
            <div class="logo"><img src="https://s3.eu-central-1.amazonaws.com/uberall-userpics-prod/1825968/wZQKzFiOMd.png" alt=""></div>
            <div class="info">
                <p class="title">GSM Ultra Сервиз</p>
            <p class="desc">Поправка на телефони</p>
            </div>
        </a>
        <div class="site-links">
            <div class="box">
                <div class="icon">
                    <i class="far fa-clock"></i>
                </div>
                <div class="info">
                    <p class="title">Работно време</p>
                    <p class="desc">8:00 - 19:00</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-phone-alt"></i>
                </div>
                <div class="info">
                    <p class="title">Обади се</p>
                    <p class="desc">+359 88 889 6522</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="info">
                    <p class="title">Пиши ни</p>
                    <p class="desc">gsm.ultra@gmail.com</p>
                </div>
            </div>
        </div>
        <label id="nav-toggle" for="nav-main-toggle" class="fas" for=""><span></span></label>
        <nav class="navigation">
            <ul>
                {% if page.title == "Home" %}
                <li><a href="index.html">Начало</a></li>
                <li><a href="about/index.html">Относно</a></li>
                <li><a href="services/index.html">Услуги</a></li>
                <li><a href="gallery/index.html">Галерия</a></li>
                <li><a href="blog/index.html">Блог</a></li>
                <li><a href="contacts/index.html">Контакти</a></li>
                <li><a href="questions/index.html">Въпроси</a></li>
                <li class="call"><a href="contacts/index.html"><i class="fas fa-phone"></i></a></li>
                {% else %}
                <li><a href="../index.html">Начало</a></li>
                <li><a href="../about/index.html">Относно</a></li>
                <li><a href="../services/index.html">Услуги</a></li>
                <li><a href="../gallery/index.html">Галерия</a></li>
                <li><a href="../blog/index.html">Блог</a></li>
                <li><a href="../contacts/index.html">Контакти</a></li>
                <li><a href="../questions/index.html">Въпроси</a></li>
                <li class="call"><a href="../contacts/index.html"><i class="fas fa-phone"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>