@import '../fontawesome/css/all.css';
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font: 16px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media screen and (max-width: 499px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1300px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1800px) {
  html {
    font-size: 22px;
  }
}
body {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font: 1em/1.2 Titillium Web, Roboto Condensed, serif;
  margin: 1em 0 0 0;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  padding: 0;
  /* margin-top: 1.5rem; */
}

ul, ol, dl {
  margin: 0 0 1rem 0;
}

ul li, ol li {
  list-style-position: inside;
}

ul ul {
  margin-top: 1rem;
}

ul li {
  list-style-type: square;
}

ul ul li {
  list-style-type: disc;
}

ul ul ul li {
  list-style-type: circle;
}

blockquote {
  border-left: 3px solid #dddddd;
  padding: 0.5rem 0.5rem;
  margin-left: 3rem;
  color: #444;
}
blockquote p {
  padding: 0.5em 1em;
  font-style: italic;
}
blockquote .author {
  text-align: right;
}

@media screen and (min-width: 500px) {
  blockquote {
    width: 40%;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1.5rem;
  border: 1px solid gray;
  border-spacing: 0;
}

table td, table th {
  border: 1px solid gray;
  padding: 0.5rem;
  text-align: left;
}

table thead th {
  background-color: #c7c7c7;
}

table tr:nth-child(odd) {
  background-color: #e6e6e6;
}

table tr:hover td {
  background-color: black;
  color: white;
  border-color: black;
}

hr {
  margin: 1.2rem 0;
}

body {
  background-color: #ececec;
}
body .wrapper {
  width: 85vw;
  margin: 0 auto;
}

.site-header .wrapper {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.site-header .site-branding {
  text-decoration: none;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-header .site-branding .logo {
  flex-basis: 15%;
}
.site-header .site-branding .logo img {
  width: 100%;
}
.site-header .site-branding .info {
  flex-basis: 75%;
}
.site-header .site-branding .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 120%;
  color: #2e4c66;
}
.site-header .site-branding .desc {
  text-transform: uppercase;
  font-size: 70%;
  letter-spacing: 0.1rem;
  color: black;
}
.site-header .site-links {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 1rem;
}
.site-header .site-links .box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-header .site-links .box .icon {
  flex-basis: 15%;
  font-size: 180%;
  margin-right: 0.5rem;
  color: #2e4c66;
}
.site-header .site-links .box .info {
  flex-basis: 75%;
}
.site-header .site-links .box .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70%;
  color: #2e4c66;
}
.site-header .site-links .box .desc {
  font-size: 70%;
}
.site-header .navigation {
  flex-basis: 100%;
  background-color: #2e4c66;
  border-radius: 0.5rem;
  position: relative;
  top: 1.4rem;
  z-index: 10;
}
.site-header .navigation ul {
  display: flex;
  margin: 0;
}
.site-header .navigation li {
  list-style: none outside;
  margin-right: 1.2rem;
}
.site-header .navigation li:hover a {
  color: #15BFA5;
}
.site-header .navigation a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 1.2rem;
}

.banner {
  padding: 2em;
  background-image: url(https://georgetelegraphblog.files.wordpress.com/2019/01/mobile-repairing-course.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 95vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.banner::before {
  display: block;
  content: "";
  background: rgba(40, 40, 40, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.banner .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner .box {
  color: white;
  z-index: 20;
}
.banner .box .title {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 0.7rem;
}
.banner .box span {
  color: #15BFA5;
}
.banner .box .desc {
  margin-bottom: 0.8rem;
  font-weight: bold;
}
.banner .box a {
  display: inline-block;
  background-color: #15BFA5;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
  padding: 0.6rem 1.4rem;
}
.banner .box a:hover {
  background-color: #2e4c66;
}