.site-footer {
    background-color: #161616;
    color: white;
    padding: 3rem 2rem 0 2rem;
    
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;

        @include mqq(870px, min){
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }
    }

    .intro {
        padding: 1rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-left: 1rem;

        @include mqq(870px, min){
            text-align: start;
            margin-bottom: 0;
        }

        .branding {
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 0.8rem;

            @include mqq(870px, min){
                justify-content: flex-start;
            }
            
            .logo {
                flex-basis: 20%;

                img {
                    width: 100%;
                }
            }
    
            .nxt {
                flex-basis: 100%;

                @include mqq(870px, min){
                    flex-basis: 70%;
                }
    
                .title {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #426b8f;
                    transition: color 0.3s ease-out;
                }

                &:hover .title {
                    color: #15BFA5;
                }
    
                .subtitle {
                    text-transform: uppercase;
                    font-size: 70%;
                    letter-spacing: 0.1rem;
                }
            }   
        }

        .desc {
            font-size: 80%;
            color: rgb(212, 212, 212);
            margin-bottom: 1rem;
        }

        a:not(:first-child) {
            display: inline-block;
            color: white;
            background-color: rgb(51, 51, 51);
            padding: 0.2rem 0.6rem;
            border: 1px solid gray;
            margin-right: 0.4rem;
            transition: background 0.3s ease-out;

            &:hover {
                background-color: #15BFA5;
                border-color: #15BFA5;
            }
        }
    }

    .posts {
        margin-top: 1rem;
        padding: 1rem;
        text-align: center;
        margin-bottom: 2rem;

        @include mqq(870px, min){
            text-align: start;
            margin-bottom: 0;
        }

        .title {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        .postone {
            border-bottom: 1px solid gray;
            margin-bottom: 0.9rem;
        }

        .text {
            color: rgb(212, 212, 212);
            font-size: 80%;
            margin-bottom: 1rem;
            text-decoration: none;
            transition: color 0.3s ease-out;

            &:hover {
                color: #15BFA5;
            }
        }

        .date {
            font-size: 80%;
            margin-bottom: 0.6rem;

        }
    }

    .links {
        margin-top: 1rem;
        background-image: url('http://asianitbd.com/wp/naples/wp-content/themes/naples/images/resource/map.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding: 1rem;
        text-align: center;
        margin-bottom: 2rem;

        @include mqq(870px, min){
            text-align: start;
            margin-bottom: 0;
        }


        &::before {
            display: block;
            background: rgba(31, 31, 31, 0.8);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        .title {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1.5rem;
            z-index: 100;
        }

        .social {
            color: rgb(212, 212, 212);
            font-size: 80%;
            margin-bottom: 0.2rem;
            z-index: 100;
        }

        .social-link {
            font-size: 80%;
            margin-bottom: 1rem;
            z-index: 100;
            text-decoration: none;
            color: white;
        }
    }

    .bottom {
        border-top: 1px solid white;
        padding: 1rem 0 0 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;


        @include mqq(870px, min){
            grid-column: span 3;
            justify-content: space-between;
            text-align: start;
        }

        ul {
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;

            @include mqq(870px, min){
                margin-left: 0;
                margin-left: 1rem;
            }
        }

        li {
            list-style: none outside;
            margin-right: 1rem;
        }
        
        a {
            text-decoration: none;
            color: white;
            transition: color 0.3s ease-out;

            &:hover {
                color: #15BFA5;
            }
        }
    }
}